<% include ./head %>
  <body>
    <div class="container col-md-8 col-md-offset-2">

      <div class="jumbotron">
        <h1><a href="/">Receipt</a></h1>
      </div>

      <div class="results">
        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
        <h3>You have registered <%= totalGuests %> guests.</h3>
      </div>

      <div class="cheaters">
        <% if (noCouple.length == 1) {%>
          <h3>Among them 1 came without the couple.</h3>
          <h3>His or her ticket number is: <%= noCouple[0] %>.</h3>
        <% } else if (noCouple.length == 0) {%>
          <h3>All of them came with their couples.</h3>
        <% } else {%>
          <h3>Among them <%= noCouple.length %> came without their couples.</h3>
          <h3>Their ticket numbers are:</h3>
          <ul class="no-couple-list">
            <% for (i=0;i<noCouple.length;i++) {%>
              <li><%= noCouple[i] %></li>
            <% } %>
          </ul>
        <% } %>
      </div>

    </div>
  </body>
</html>
